<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>
         {% block title %}{% endblock %} - Buffs get Buff!
    </title>

    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename = 'css.css')}}">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename = 'normalize.css')}}">
    <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--if anyone's working on the css, you could chuck these in there-->
<style>
    html,body{
        height:100%;
    }
    #mid{
        min-height: 100%;
        background-image: url("{{ url_for('static', filename='gym.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

</head>
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
<body id="header_body" style="position:static; top: 0;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Buffs Git Buff!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href= "{{ url_for('home') }}" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% if session['username'] %}
                {% else %}
                <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if session['username'] %}
                {% else %}
                 <a class="nav-link" href= "{{ url_for('signup') }}" >Signup <span class="sr-only">(current)</span></a>
                {% endif %}
            </li>
            {% if session['username'] %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('userdash', user=session['username']) }}">Your Page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('edit_Profile') }}">Edit Profile</a>
                </div>
            </li>
            {% endif %}
            {% if session['username'] %}
            <li>
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<hr>
</body>

<div id="mid" class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-9" style="min-height: 800px; background-color:rgba(255,255,255,.8);padding: 50px;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<body id = "footer" style= "bottom: 5px; vertical-align: middle; position: static;">
    <br>
    <p>
        &copy; BuffGitBuff Team 2018
    </p>
    <div class="container">
      <div class="row">
        <div class="col-5">

        </div>
        <div class="col-6">
            <a href = "http://twitter.com"> <img src = "{{ url_for('static', filename = 'twitter.png') }}" alt = "Twitter"  style = "width:40px;height:40px;"></a>
            <a href = "http://facebook.com"> <img src = "{{ url_for('static', filename = 'facebook.png') }}" alt="Facebook"  style = "width:40px;height:40px;"></a>
            <a href = "http://google.com"> <img src = "{{ url_for('static', filename = 'google.png') }}" alt = "Google"  style = "width:40px;height:40px;"></a>
        </div>
      </div>
    </div>
</body>
</html>
