<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Buffs get Buff!</title>
</head>
<body>
    <div>Helpful Links:
        <a href="{{ url_for('home') }}">Home</a>
        {% if not g.user %}
            <a href="{{ url_for('signup') }}">Sign Up</a>
            <a href="{{ url_for('login') }}">Log In</a>
        {% endif %}
        {% if g.user %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
        {% block menuitem %}{% endblock %}
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
