{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<body>
    <h3> First Name </h3>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1"></span>
	  </div>
	  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	<h3> Last Name </h3>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1"></span>
	  </div>
	  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	<h3> Sex </h3>
        <div class="form-check">
            <h4>Male</h4>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
          </label>
        </div>
        <div class="form-check">
            <h4>Female</h4>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
          </label>
        </div>
	<!-- Height-->
	<h3> Height </h3>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          {% for i in range(3,7) %}
    				{% for j in range(12) %}
    					<option>{{ i }}'{{ j }}"</option>
                        <br>
    				{% endfor %}
    			{% endfor %}
        </select>
      </div>
	</div>
	<h3> Weight </h3>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          {% for i in range(3,7) %}
    					<option>{{ i }} lbs</option>
                        <br>
    			{% endfor %}
        </select>
      </div>
	</div>
	<h3> Exercise Preferences </h3>
	<p>
		Rate how much priority you place in each category
	</p>
	<h4>Strength</h4>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          {% for i in range(11) %}
              <option>{{i}}</option>
              <br>
          {% endfor %}
        </select>
      </div>
	</div>

	<h4>Cardio</h4>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          {% for i in range(11) %}
              <option>{{ i }}</option>
              <br>
          {% endfor %}
        </select>
      </div>
	</div>
</body >
{% endblock %}