{% extends 'baseAaron.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<body>
    <!-- The 'action' is for the background to have both image and signup background
        Also the method= POST is for the main.py file (i.e. ROUTES.PY) -->
    <form method="post">
        <div class="container">
            <!-- I HAVE AN ERROR CHECK FOR EACH INPUT TO MAKE SURE ITS VALID, thats all preference-->
            <h1>Thanks for returning!</h1>
            <h1>Sign Up</h1>

            <!-- Each has a VALUE which is what will be read by the routes.py file-->

            <label for="username"> Username </label>
                <input name="username" id="username" type="text" value = {{request.form.username}}>
            <br>

            <label for="password"> Password </label>
                <input name="password" id="password" type="password" value = {{request.form.password}}>
            <br>

            <div class="buttons">
                <button type="button" class="cancel" value = "Cancel" > Cancel </button>
                <button type="submit" class="signup" value = "Login" > Get Buff </button>
            </div>
            {% if error %}
                <script> alert('{{ error }}'); </script>
            {% endif %}
            </div>
    </form>
</body>
{% endblock %}