<!DOCTYPE html>
<html>

	<style>
	.container{
		padding:16px;
		background-color: 
	}
	body {
		box-sizing: border-box;
		background="background.jpg";
		margin-left: 15px;
	}
	input[type=text],input[type=password]{
		width: 50%;
		padding: 15px;
		margin: 5px 0 22px 0;
		display: inline-block;
		border: none;
		background: #A9A9A9;
	}
	input[type=checkbox]{
		display: inline-block;
	}
	button.cancel{
		background-color: red;
		color: white;
	}
	.signup{
		background-color: green;
		color: white;
	}
	</style>

	<body background="background.jpg">
		<!-- The 'action' is for the background to have both image and signup background
			Also the method= POST is for the main.py file (i.e. ROUTES.PY) -->
		<form action="/action_page.php" style="border:1px solid #ccc; background: rgba(255, 255,255, .9)" method='POST'>
			<div class="container">
				<!-- I HAVE AN ERROR CHECK FOR EACH INPUT TO MAKE SURE ITS VALID, thats all preference-->
				<h1>Become a Buff getting Buff, Today!</h1>
				<h1>Sign Up</h1>

				<!-- Each has a VALUE which is what will be read by the routes.py file-->
				
				<label> Username </label>
					<input name = "Username" type = "text" value = {{Username}}></br>
				
				
				<label> Email </label>
					<input name = "email" type = "text" value = {{email}}></br>
				
				<label> Password </label>
				<input name = "password" type = "text" value = {{psw_1}}></br>
				
				<label> Confirm Password </label>
				<input name = "confirm_pass" type = "text" value = {{pwd_2}}></br>
				

				<label>
				<input type="checkbox" checked="checked" name="disclamer" style="margin-bottom:15px" value = {{true}} >I accept the Terms and Conditions
				</br></br></label>

				<div class="buttons">
					<button type="button" class="cancel">Cancel</button>
					<button type="submit" class="signup">Get Buff</button>
				</div>

			</div>		
		</form>
	</body>

</html>

