{%  extends 'baseAaron.html' %}

{% block title %}userpage{% endblock %}
{% block content %}
    {% if session['username'] %}
        <h1>user.username's Home Page!</h1>
    {% else %}
        <h1 style = "align-content: center;">Aaron's Home Page!</h1>
    {% endif %}

    <h3>What do you want to work on today?</h3>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Quadriceps
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Hamstrings
        </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Calves
        </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Chest
        </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Back
        </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Shoulders
        </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Triceps
        </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Biceps
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Forearms
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Trapezius
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
        <div class="form-check">
            <label class="form-check-label" for="defaultCheck1">
        Abdominals
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Glutes
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
        Lats
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

    </div>

    
{% endblock %}