{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Workout Page{% endblock %}

{% block content %}
<h1>{{ user.username }}'s page!</h1>
<div class="container">
    <section id="workoutSection">
        <h2>My Workouts</h2>
        <button id="getWorkoutButton" class="button" type="button">Get Workout</button>
    </section>
    <section id="createWorkout">
        <h2>Create a New Workout</h2>
        <form>
            Workout Name<input id="workoutName" name="workoutName" type="text"><br>
            <input type="checkbox" name="Quads" >Quads<br>
            <input type="checkbox" name="Hamstrings" >Hamstrings<br>
            <input type="checkbox" name="Calves" >Calves<br>
            <input type="checkbox" name="Chest" >Chest<br>
            <input type="checkbox" name="Back" >Back<br>
            <input type="checkbox" name="Shoulders" >Shoulder<br>
            <input type="checkbox" name="Triceps" >Triceps<br>
            <input type="checkbox" name="Biceps" >Biceps<br>
            <input type="checkbox" name="Forearms" >Forearms<br>
            <input type="checkbox" name="Trapezius" >Traps<br>
            <input type="checkbox" name="Abs" >Abs<br>
            <input type="checkbox" name="Glutes" >Glutes<br>
            <input type="checkbox" name="Lats" >Lats<br>
            <button id="createWorkoutButton" class="button" type="button">Create New Workout</button>
            <script>
                $(function () {
                    $('#createWorkoutButton').click(function () {
                        console.log("create workout button");
                        $.ajax({
                            url: '/userWorkout',
                            data: $('form').serialize(),
                            type: 'POST',
                            // Do something with the response, post it to user page!!
                            success: function (response) {
                                console.log(response);
                                $('#newWorkout').append("<h3>This is your returned workout</h3><br><p>" + response + "</p>");
                            },
                            error: function (response) {
                                console.log(response);
                            }
                        });
                    });
                    // Another button for get workouts can go here
                    $('#getWorkoutButton').click(function() {
                        console.log("get workout button");
                        $.ajax({
                            url: '/userWorkout',
                            type: 'GET',
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(response) {
                                console.log(response);
                            }
                        });
                    });
                });
            </script>
        </form>
        <div class="hidden" id="newWorkout">
        </div>
    </section>
</div>
{% endblock %}