{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Workout Page{% endblock %}

{% block content %}
<!-- Script for handling add/create/get workout -->
<script>
    $(function () {
        // create a workout button action
        $('#createWorkoutButton').click(function () {
            console.log("create workout button");
            // call to flask routes
            $.ajax({
                url: '/userWorkout',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    // post workout (response) to user page
                    console.log(response);
                    var exercises = response['exercises'];
                    var type = true;
                    if (response['sets']){
                        var sets = response['sets'];
                        var reps = response['reps'];
                    } else {
                        type = false;
                        var times = response['times'];
                    }
                    var len = exercises.length;
                    $('#newWorkout').append("<h4><b>This is your returned workout</h4><br>"
                        + response['workoutName'] + "</b><br>");
                    if (type) {
                        for (var i = 0; i < len; i++) {
                            $('#newWorkout').append("Exercise " + (i + 1) + ":" + exercises[i] + ", with " + sets[i] + "sets and " + reps[i] + "reps<br>");
                        }
                    } else {
                        for (var i = 0; i < len; i++) {
                            $('#newWorkout').append("Exercise " + (i + 1) + ":" + exercises[i] + ", for " + times[i] + " seconds<br>");
                        }
                    }
                    // This button implements the add workout function
                    $('#newWorkout').append("<button id='addWorkout' type='button' class='button' onclick='addWorkout(" + response['workoutID'] + ")'>Add Workout?</button></section>");
                },
                error: function (response) {
                    console.log(response);
                    $('#newWorkout').append("<h4>The server had an error, try again</h4>");
                }
            });
        });
        // button for get workouts, posts all favorited workouts to user page
        $('#getWorkoutButton').click(function() {
            console.log("get workout button");
            // call to routes get workout
            $.ajax({
                url: '/userWorkout',
                type: 'GET',
                success: function(response) {
                    // posts all workouts, will refresh on click
                    $('#userWorkouts').empty();
                    $('#userWorkouts').append("<h4>Your Workouts</h4><p>");
                    console.log(response);
                    for (i in response) {
                        var workout = response[i];
                        console.log(workout);
                        var exercises = workout['exercises'];
                        var type = true;
                        if (workout['sets']){
                            var sets = workout['sets'];
                            var reps = workout['reps'];
                        } else {
                            type = false;
                            var times = workout['times'];
                        }
                        var len = exercises.length;
                        $('#userWorkouts').append("<h5><b>Workout " + (Number(i)+1) + "</h5><br>"
                            + workout['workoutName'] + "</b><br>");
                        if (type) {
                            for (var i = 0; i < len; i++) {
                                $('#userWorkouts').append("Exercise " + (i + 1) + ":" + exercises[i] + ", with " + sets[i] + "sets and " + reps[i] + "reps<br>");
                            }
                        } else {
                            for (var i = 0; i < len; i++) {
                                $('#userWorkouts').append("Exercise " + (i + 1) + ":" + exercises[i] + ", for " + times[i] + " seconds<br>");
                            }
                        }
                        $('#userWorkouts').append("</p>");
                    }
                },
                error: function(response) {
                    console.log(response);
                }
            });
        });
    });
    // function for adding a workout to user favorites
    function addWorkout(number) {
        console.log("add workout button");
        // clears current text on user page
        $('#newWorkout').empty();
        var text = {"id": number};
        // add workout call to flask
        $.ajax({
            url: '/addWorkout',
            // Somehow store workoutID
            data: text,
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(response) {
                console.log(response);
            }
        });
    }
</script>
<!-- Begin actual Html page -->
<h1>{{ user.username }}'s page!</h1>
    <br>
<div class="container">
      <div class="row">
        <div class="col-3">
            <section id="workoutSection">
                <h2>My Workouts</h2>
                <button id="getWorkoutButton" class="button" type="button">Get Workout</button>
                <!-- This div contains user workouts when pressed -->
                <div id="userWorkouts">
                </div>
            </section>
        </div>
        <div class="col-4">
                <section id="createWorkout">
                    <h2>Create a New Workout</h2>
                        <form>
                            Workout Name<input id="workoutName" name="workoutName" type="text"><br>
                            <input type="checkbox" name="Misc">Misc<br>
                            <input type="checkbox" name="Quads" >Quads<br>
                            <input type="checkbox" name="Hamstrings" >Hamstrings<br>
                            <input type="checkbox" name="Calves" >Calves<br>
                            <input type="checkbox" name="Chest" >Chest<br>
                            <input type="checkbox" name="Back" >Back<br>
                            <input type="checkbox" name="Shoulders" >Shoulder<br>
                            <input type="checkbox" name="Triceps" >Triceps<br>
                            <input type="checkbox" name="Biceps" >Biceps<br>
                            <input type="checkbox" name="Forearms" >Forearms<br>
                            <input type="checkbox" name="Traps" >Traps<br>
                            <input type="checkbox" name="Abs" >Abs<br>
                            <input type="checkbox" name="Glutes" >Glutes<br>
                            <input type="checkbox" name="Lats" >Lats<br>
                            <div class="classSelect">
                                <input type="radio" checked value="option1" name="exerciseClass">Strength<br>
                                <input type="radio" value="option2" name="exerciseClass">Cardio<br>
                            </div>
                            <button id="createWorkoutButton" class="button" type="button">Create New Workout</button>
                        </form>
                </section>
        </div>
        <div class="col-4">
            <!-- div for returned create workout -->
            <div id="newWorkout">
            </div>
        </div>
      </div>
</div>
{% endblock %}