{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Workout Page{% endblock %}

{% block content %}
<h1>{{ user.username }}'s page!</h1>
    <br>
<div class="container">
      <div class="row">
        <div class="col-3">
            <section id="workoutSection">
                <h2>My Workouts</h2>
                <button id="getWorkoutButton" class="button" type="button">Get Workout</button>
                <div id="userWorkouts">
                </div>
            </section>
        </div>
        <div class="col-4">
                <section id="createWorkout">
        <h2>Create a New Workout</h2>
        <form>
            Workout Name<input id="workoutName" name="workoutName" type="text"><br>
            <input type="checkbox" name="Misc">Misc<br>
            <input type="checkbox" name="Quads" >Quads<br>
            <input type="checkbox" name="Hamstrings" >Hamstrings<br>
            <input type="checkbox" name="Calves" >Calves<br>
            <input type="checkbox" name="Chest" >Chest<br>
            <input type="checkbox" name="Back" >Back<br>
            <input type="checkbox" name="Shoulders" >Shoulder<br>
            <input type="checkbox" name="Triceps" >Triceps<br>
            <input type="checkbox" name="Biceps" >Biceps<br>
            <input type="checkbox" name="Forearms" >Forearms<br>
            <input type="checkbox" name="Traps" >Traps<br>
            <input type="checkbox" name="Abs" >Abs<br>
            <input type="checkbox" name="Glutes" >Glutes<br>
            <input type="checkbox" name="Lats" >Lats<br>
            <div class="classSelect">
                <input type="radio" checked value="option1" name="exerciseClass">Strength<br>
                <input type="radio" value="option2" name="exerciseClass">Cardio<br>
            </div>
            <button id="createWorkoutButton" class="button" type="button">Create New Workout</button>
        </form>
                </section>
        </div>
        <div class="col-4">
            <script>
                $(function () {
                    $('#createWorkoutButton').click(function () {
                        console.log("create workout button");
                        $.ajax({
                            url: '/userWorkout',
                            data: $('form').serialize(),
                            type: 'POST',
                            // Do something with the response, post it to user page!!
                            success: function (response) {
                                console.log(response);
                                // want to append button so can add workout to user favorites
                                // TODO want a button to appear so they can add workout to their favorites, easy js call
                                $('#newWorkout').append("<h4>This is your returned workout</h4><p>"
                                    + response['workoutName'] + "<br>"
                                    + response['workoutID']  + "<br>"
                                    + "</p><button id='addWorkout' type='button' class='button'>Add Workout?</button");
                            },
                            error: function (response) {
                                console.log(response);
                            }
                        });
                    });
                    // Another button for get workouts can go here
                    $('#getWorkoutButton').click(function() {
                        console.log("get workout button");
                        $.ajax({
                            url: '/userWorkout',
                            type: 'GET',
                            success: function(response) {
                                console.log(response);
                                // a foreach loop over array of workouts, then same output as create workout for each workout`
                                $('#userWorkouts').append("<h4>Workout for user!!!</h4><br><p>" + response + "</p>");
                            },
                            error: function(response) {
                                console.log(response);
                            }
                        });
                    });
                    // add workout button
                    $('#addWorkout').click(function() {
                        console.log("get workout button");
                        $.ajax({
                            url: '/addWorkout',
                            // Somehow store workoutID
                            //data:
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(response) {
                                console.log(response);
                            }
                        });
                    });

                });
            </script>
        </form>
        <div id="newWorkout">
        </div>
    </section>
        </div>
      </div>
</div>
{% endblock %}