{% extends base.html %}

{% block content %}

<body id= "editprofile">
	<h3> First Name </h3>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1">@</span>
	  </div>
	  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>

	<h3> Last Name </h3>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1">@</span>
	  </div>
	  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
	</div>

	<h3> Sex </h3>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="#">Male</a>
	      <a class="dropdown-item" href="#">Female</a>

	    </div>
	  </div>
	  <input type="text" class="form-control" aria-label="Text input with dropdown button">
	</div>

	<!-- Height-->
	<h3> Height </h3>
	<div class="input-group mb-3">
  		<div class="input-group-prepend">
    		<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">height</button>
    		<div class="dropdown-menu">
    			{% for i in range(3,7) %}
    				{% for j in range(11) %}
    					<a class="dropdown-item" href="#">"{{ i }}'{{j}}\""</a>
    				{% endfor %}
    			{% endfor %}
    		</div>
  		</div>
  	<input type="text" class="form-control" aria-label="Text input with dropdown button">
	</div>

	<h3> Weight </h3>
		<div class="input-group mb-3">
  		<div class="input-group-prepend">
    		<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weight</button>
    		<div class="dropdown-menu">
    			{% for i in range(60,400) %}
    				<a class="dropdown-item" href="#">"{{ i }} lbs</a>
    			{% endfor %}
    		</div>
  		</div>
  	<input type="text" class="form-control" aria-label="Text input with dropdown button">
	</div>

	<h3> Exercise Preferences </h3>
	<p> 
		Rate how much priority you place in each category
	</p>
	<h4>Strength</h4>
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  	{% for i in range(10) %}
		    <a class="dropdown-item" href="#"> {{i}} </a>
		    {% endfor %}
		  </div>
		</div>

	<h4>Cardio</h4>
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  	{% for i in range(10) %}
		    <a class="dropdown-item" href="#"> {{i}} </a>
		    {% endfor %}
		  </div>
		</div>

</body >
{% endblock %}
